.phoneDisplay__icon {
    z-index: 1;
}

.phoneDisplay__demobg {
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.phoneDisplay__demoWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.phoneDisplay__demoWrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.phoneDisplay__demoWrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.phoneDisplay__demoWrapper > img {
    margin-top: 18vw;
    height: 30vw;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .phoneDisplay__demoWrapper > img {
        margin-top: 18vw;
        height: 350px;
        object-fit: contain;
    }
}

@media (max-width: 600px) {
    .phoneDisplay__demoWrapper > img {
        margin-top: 18vw;
        height: 250px;
        object-fit: contain;
    }
}
