.app {
    background-image: url(./images/top_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.app__wrapper {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .app {
        background-image: url(./images/top_bg_tablet.png);
    }
    .app__wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 425px) {
    .app {
        background-image: url(./images/top_bg_mobile.png);
    }
    .app__wrapper {
        padding: 0 30px;
    }
}
