.footer {
    background-image: url(../../images/footer_bg.png);
    height: 130px;
    margin-top: -10px;
    color: #ababab;
    display: flex;
    justify-content: space-around;
    font-size: 1.9vw;
    padding: 30px 40px;
}

.footer-left {
    flex: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left > img {
    max-width: 362px;
    min-width: 200px;
    width: 25vw;
}

.footer-middle {
    flex: 0.41;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.footer-right {
    flex: 0.28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-middle > a,
.footer-right > a {
    color: #ababab;
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        background-image: url(../../images/footer_bg.png);
        height: 130px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #ababab;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.6vw;
    }
    .footer-left {
        margin-bottom: 20px;
    }
    .footer-middle {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 30px 20px;
    }
}

/* @media (max-width: 425px) {
    .app__wrapper-padding {
        padding: 0 30px;
    }
} */
